################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Debug
/lib/Rhk/Debug
/src/Eden_EN2JP/Debug
